html,body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
#root {
  width: 100%;
  height: 100%;
}


body {
  background: rgba(27, 27, 31, 0);
}

.runner-container {
  background: rgba(27, 27, 31, 0.89);
  color: white;
}

.runner-input-container {
  width: 100%;
  height: 100%;
  display: grid;
  /* grid-template-columns: 100px; */
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  padding: 50px;
}

.runner-input {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  max-height: 100%;
  width: 100%;
  align-content: stretch;
  justify-content: center;
  flex-direction: column;
}

.multiline-input-container {
  display:flex;
  align-items:flex-end;
  height: 50%;
}

.runner-input-field,
.runner-textarea-field {
  font-size: 20px;
  background: transparent;
  border: 0;
  font-family: "Roboto Mono", monospace;
  flex-grow: 1;
}

.runner-input-field {
  height: 50px;
  text-align: center;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  font-family: "Roboto Mono", monospace
}

.runner-textarea-field {
  max-width:100%;
  text-align: left;
  padding-left: 20px;
  flex: 1 1 auto;
  overflow: auto;
  resize: none;
}

.runner-textarea-field:focus {
  border: 0;
  font-family: "Roboto Mono", monospace;
  outline: none;
  color: white;
}

.multi-line {
  text-align: left !important;
}

.runner-input-field {
  color: #cac7c7
}
.runner-input-field:focus {
  border: 0;
  outline: none;
  color: white
}

.runner-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 50px auto 50px;
}

.runner-tabs {
  display: grid;
  font-size: 12px;
  align-items: center;
  grid-template-columns: auto;
  grid-auto-flow: column;

}

.runner-tabs-title {
  border-right: 5px solid rgba(27, 27, 31, 0.58);
  border-bottom: 5px solid rgba(27, 27, 31, 0.58);
  height: 50px;
  display: grid;
  justify-items: center;
  align-items: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.15);
}

.runner-tabs-title-active {
  border-bottom: 0;
  background: transparent;
}



.runner-spacer {
  height: 50px;
  background: rgba(11, 125, 195, 0.13);
  border-bottom: 5px solid rgba(27, 27, 31, 0.58);
  font-size: 30px;
  display: grid;
  justify-items: center;
  align-items: center;
  cursor: pointer;
}

.runner-context {
  display: grid;
  align-items: center;
  cursor: pointer;
  padding-right: 20px;
  grid-auto-flow: column;
  font-size: 70%;
  grid-template-columns: auto 50%;
}

.runner-main {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-template-columns: auto 50%;
  overflow: hidden
}

.runner-editor {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: auto auto 10px;
}


.runner-editor-header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.runner-editor-header-result {
  max-height: 15px;
  overflow-y: auto
}
.runner-editor-header-result::-webkit-scrollbar {
  width: 15px;
}
.runner-editor-header-result::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}
.runner-editor-header-result::-webkit-scrollbar-thumb {
  background-color: #294794;
  border-radius: 6px;
  border: 4px solid rgba(0,0,0,0);
  background-clip: content-box;
  min-width: 32px;
  min-height: 32px;
}
.runner-editor-header-result pre {
  margin: 0
}
.runner-context-folder {
  color: #59dcec;
  text-align: right;
}

.runner-history {
  overflow-y: auto;
  max-height: 50px;
  margin-bottom: 20px;
}

.runner-history::-webkit-scrollbar {
  width: 15px;
}
.runner-history::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}
.runner-history::-webkit-scrollbar-thumb {
  background-color: #294794;
  border-radius: 6px;
  border: 4px solid rgba(0,0,0,0);
  background-clip: content-box;
  min-width: 32px;
  min-height: 32px;
}
.runner-history-item {
  padding-left: 10px;
  margin-left: 10px;
  border-left: 5px solid rgba(255, 255, 255, 0);
}
.runner-history-item:hover {
  color: #5277d5
}
.runner-history-selected {
  color: #7a8cba;
}
.runner-history-running {
  border-left: 5px solid #f1ce00;
  animation: pulse .6s linear infinite;
}

@keyframes pulse {

  0%,
  100% {
    border-color: #f1ce00;
  }

  50% {
    border-color: transparent;
  }
}
.runner-history-complete {
  border-left: 5px solid #23682d;
}
.runner-history-aborted {
  border-left: 5px solid #ac1298;
}
.runner-history-error {
  border-left: 5px solid #ff6767;
}

.runner-history::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0);
}

.runner-result-error {
  color: #ff6767
}
.runner-result {
  font-size: 12px;
  height: 100%;
  overflow: auto;
  display: grid;
  align-items: center;
}
.runner-container__commander_mode .runner-result {
  font-size: 16px;
}
.space {
  display: inline-block;
  width: 10px
}
.runner-info {
  display: grid;
  grid-auto-flow: column;
  margin-left: 10px
}
.toggle-button-slider {
  width: 30px;
  margin-right: 10px;
  border: 1px solid #294794;
  border-radius: 15px;
  background: #294794;
  height: 15px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 0px auto;
}
.toggle-button-circle {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: rgba(8, 213, 205, 0.41);
}
.toggle-button {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: start;
  grid-template-columns: auto 100%;
  color: rgba(255, 255, 255, 0.49);
  font-size: 12px
}
.toggle-button-spacer {
}
.toggle-button.toggle-button-on .toggle-button-slider {
  grid-template-columns: 15px auto;
}

.multi-line::-webkit-scrollbar, .runner-result::-webkit-scrollbar {
  width: 15px;
}
.multi-line::-webkit-scrollbar-corner, .runner-result::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}
.multi-line::-webkit-scrollbar-thumb, .runner-result::-webkit-scrollbar-thumb {
  background-color: #294794;
  border-radius: 6px;
  border: 4px solid rgba(0,0,0,0);
  background-clip: content-box;
  min-width: 32px;
  min-height: 32px;
}
.contextmenu.tab-context-menu {
  color: #f1f1f1;
  width: 150px;
  background-color: #464545;
  padding: 5px 0;
}
.tab-context-menu > .contextmenu__item {
  font-size: 11px;
  text-transform: uppercase;
  padding: 2px 9px;
}
.tab-context-menu > .contextmenu__item:hover {
  color: #2248a9;
}

.runner-ac {
  position: absolute;
  left: 50%;
  background: rgba(56, 54, 54, 0.38);
  display: grid;
  overflow: auto;
  box-shadow: 10px 5px 5px #212121;
  padding-right: 5px
}

.runner-ac-option {
  padding-left: 10px;
}

.runner-input {
  position: relative;
}

.runner-ac::-webkit-scrollbar {
  width: 15px;
}
.runner-ac::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}
.runner-ac::-webkit-scrollbar-thumb {
  background-color: #294794;
  border-radius: 6px;
  border: 4px solid rgba(0,0,0,0);
  background-clip: content-box;
  min-width: 32px;
  min-height: 32px;
}
.runner-ac-option {
  display: grid;
  grid-template-columns: 1fr auto;
  overflow: hidden;
}
.runner-ac-prompt {
  overflow: hidden;
  white-space: nowrap;
  display: grid;
  align-content: center;
}
.runner-ac-prompt-text {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 80%
}
.runner-ac-badge {
  font-size: 60%;
  display: grid;
  align-content: center;
  text-transform: uppercase;
  grid-auto-flow: column;
}

.runner-ac-badge-text {
  padding: 2px 8px;
  border-radius: 50px;
}


.runner-ac-option-system .runner-ac-badge-text {
  background-color: #2b8fb3;
}

.runner-ac-option-command .runner-ac-badge-text {
  background-color: #6045da;
}

.runner-ac-option-program .runner-ac-badge-text {
  background-color: #c09832;
}

.runner-ac-option-path .runner-ac-badge-text {
  background-color: #d72c6b;
}

.runner-ac-option-history .runner-ac-badge-text {
  background-color: #23682d;
}

.runner-ac-badge-text {
  margin-right: 5px;
}
.runner-ac-badge-text.runner-ac-badge-text-tab {
  background-color: #1a1a1a;
}

.runner-ac-option-selected {
  background: rgba(41, 71, 148, 0.18);
}
